body {
    padding-top: 50px;
}

.login-form>div {
    margin-top: 10px;
}

.pagination-page-info {
    padding: .6em;
    /* padding-left: 0; */
    /* width: 40em; */
    margin: .5em;
    /* margin-left: 0; */
    font-size: 12px;
    text-align: center;
}
.login-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-body {
    display: flex;
    align-items: flex-start;
}
.todo-body .checkbox {
    margin-top: 0px;
    margin-bottom: 5px;
}
.todo-completed span:first-child {
    text-decoration: line-through;
}
.todo-timestamp {
    color: #777;
    font-size: .95em;
}