{% extends "layout.html" %} {% block content %}
<div class="col-md-6 col-md-offset-3">
    <!-- CSRF protection -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <h1>Todo:</h1>
    <table class="table table-striped">
        <th>#</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <tr>
            <td>{{ todo.id }}</td>
            <td class="todo-body">
                <div class="checkbox">
                    <label>
                        <input class="todo-complete" type="checkbox" value="{{ todo.id }}" {{ 'checked' if todo.completed else '' }}>
                    </label>
                </div>
                <span class="todo-{{ todo.id }} {{ 'todo-completed' if todo.completed else '' }}">
                    <span>{{ todo.description }}</span>
                    <br>
                    <span class="todo-timestamp">
                        {{ timeago(todo.created_at) }}
                    </span>
                </span>
            </td>
            <td>
                <a href="{{ url_for('todo_json', id=todo.id) }}">json format</a>
            </td>
            <td>
                <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                    <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                </form>
            </td>
        </tr>
    </table>
</div>

{% endblock %}