{% extends "layout.html" %} {% block content %}
<div class="col-md-6 col-md-offset-3">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <th>#</th>
        <th>Description</th>
        <th></th>
        <th></th>
        {% for todo in todos %}
        <tr>
            <td>{{ todo.id }}</td>
            <td>
                <a href="{{ url_for('todo', id=todo.id) }}">
                    {% if todo.completed %}
                    <del>{{ todo.description }}</del>
                    {% else %}
                    {{ todo.description }}
                    {% endif %}
                </a>
            </td>
            <td>
                <form method="post" action="{{ url_for('todo_complete', id=todo.id) }}">
                    <button type="submit" class="btn btn-xs btn-success" {{ 'disabled' if todo.completed else '' }}>
                        <span class="glyphicon glyphicon-ok glyphicon-white"></span>
                    </button>
                </form>
            </td>
            <td>
                <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                    <button type="submit" class="btn btn-xs btn-danger"><span
                            class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ url_for('todos_POST') }}">
                <td colspan="3">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description...">
                    {% if form and form.description.errors %}
                        {% for error in form.description.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
    <!-- show pagination links & infos -->
    <div class="text-center">
        {{ pagination.info }} {{ pagination.links }} {{ password }}
    </div>
</div>
{% endblock %}